name: Deploy Bot Lambda
on:
  push:
    branches:
      - main
    paths:
      - app/bot/**
      - .github/workflows/bot-deploy.yml

concurrency:
  group: ghas-erfiume-bot-lambda-deploy-${{ github.ref }}

jobs:
  rust-ci-bot:
    permissions:
      actions: read
      security-events: write
      contents: read
      id-token: write
    uses: notdodo/github-actions/.github/workflows/rust-ci.yml@rust-ci-v0.0.2
    with:
      working-directory: ./app/bot
      deploy-lambda: true
      aws-role: arn:aws:iam::841162699174:role/erfiume-oidc-write
